@page "/ShoppingList"
@layout ShoppingListLayout
@using FirstBlazorApp.Data

<PageTitle>@title</PageTitle>

<h3>Shopping List</h3>

<EditForm Model="@grocery" OnSubmit="@AddGrocery">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Name:
            <InputText @bind-Value="grocery.Name" />
        </label>
    </p>
    <p>
        <label>
            Price:
            <InputNumber @bind-Value="grocery.Price" />
        </label>
    </p>
    <button type="submit">Add Grocery</button>
</EditForm>

<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var grocery in groceries)
    {
        <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased" />
    }
</table>

<div class="mt-3">@countOfProducts products</div>
<br />
<div>Total price: @sum$</div>

@code {
    private float sum = 0;
    private string title = "Our Groceries";
    private string groceryName = string.Empty;
    private float groceryPrice;
    private Grocery grocery = new Grocery();
    private List<Grocery> groceries = new List<Grocery>();
    private int countOfProducts;

    private void AddGrocery()
    {
        groceries.Add(grocery);
        grocery = new Grocery();
        UpdateTotalAmount();
    }

    public void UpdateTotalAmount()
    {
        sum = groceries.Sum(x => x.Price);
    }

    public void OnGroceryPriceIncreased()
    {
        UpdateTotalAmount();
    }
}
