@model DogViewModel

<h3>Add</h3>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Add a new dog</h5>
            </div>

            <div class="card-body">
                <form asp-controller="HelloWorld" asp-action="CreateDog" method="post">
                    <div class="mb-3">
                        <label class="form-label">Dog Name</label>
                        <input class="form-control" type="text" asp-for="Name" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Dog Age</label>
                        <input class="form-control" type="number" asp-for="Age" />
                    </div>
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <div class="card-footer">

            </div>
        </div>
    </div>
</div>